POSTGRES_SUPERUSER_PASSWORD=replace-with-random-hex
WIKI_DB_PASSWORD=replace-with-different-random-hex
REDMINE_DB_PASSWORD=replace-with-different-random-hex
REDMINE_SECRET_KEY_BASE=replace-with-long-random-hex
